<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | Nuevo Material</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if (usuario.categoria === "residente"){ %>
  <% include ./partials/residentesheader.ejs %>
<% }  else if (usuario.categoria === "administrador"){%>
   <% include ./partials/costosheader.ejs %>
<% } else if (usuario.categoria === "master") {%>
  <% include ./partials/adminheader.ejs %>
<% } %>
<div id="content-container">
<form action="/api/materiales/<%= material[0].id %>" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="put">
<div class="input-group">
  <div id="materiales">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Materiales</div>
  <!-- Table -->
    <table class="table">
    <tr>
      <td>Nombre</td>
      <td>Obra</td>
      <td>Proveedor</td>
      <td>Unidad</td>
      <td>Precio</td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" value="<%=material[0].nombre_concepto %>" name="nombre" id="nombre" readonly></td>
      <td><input type="text" class="form-control" value="<%=material[0].nombre_obra %>" name="nombre" id="nombre" readonly></td>
      <td><input type="text" class="form-control" value="<%=material[0].razon_social %>" name="proveedor_id" id="proveedor_id" readonly>
    </td>
    <td>
      <input type="text" class="form-control" name="unidad" id="unidad" value="<%=material[0].unidad %>" readonly>
    </td>
    <td><input type="text" class="form-control" value="<%=material[0].precio %>" name="precio" id="precio"></td>
     </tr>
    </table>
    </div>
  </div>
</div>
<br>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
</body>
</html>
