<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | Editar Camión</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include ./partials/residentesheader.ejs %>
<div id="content-container">
  <form action="/api/camiones/<%= camion[0].id %>" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="put">
  <input type="text" value="<%= camion[0].id %>" name="id" id="id">
<div class="input-group">
  <label>Número:</label>
  <input type="text" class="form-control" name="numero" id="numero">
</div>

<div class="input-group">
  <label>Modelo:</label>
    <input type="text" class="form-control" value="<%= camion[0].modelo %>" placeholder="Residente" name="modelo" id="modelo">
</div>

<div class="input-group">
  <label>Placas:</label>
  <input type="text" class="form-control" value="<%= camion[0].placas %>" placeholder="Código" name="placas" id="placas">
</div>

<div class="input-group">
  <label>Capacidad:</label>
  <input type="text" class="form-control" value="<%= camion[0].capacidad %>" placeholder="Ciudad" name="capacidad" id="capacidad">
</div>

<br>
<div class="input-group">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>
</body>
</html>
