<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | Estimación Nueva</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include ./partials/residentesheader.ejs %>
<div id="content-container">
<div class="row">
  <div class="col-sm-6">
<div class="input-group">
  <label>Proveedor:</label>
  <p><%= estimacion[0].razon_social %></p>
</div>
<div class="input-group">
  <label>Obra:</label>
  <p><%= estimacion[0].nombre_obra %></p>
</div>
</div>
  <div class="col-sm-6">
<div class="input-group">
  <label>Periódo:</label>
<p>Del <%=estimacion[0].periodo_inicio %> al <%= estimacion[0].periodo_final %></p>
</div>
<br>
<div class="input-group">
  <label>Número:</label>
<p><%= estimacion[0].numero %></p>
</div>
</div>
</div>
<br>
<div class="form-group">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Articulos</div>
     <table class="table" id="articulos">
       <tr>
         <td>
           Concepto
         </td>
         <td>
           Zona
         </td>
        <td>
           Unidad
         </td>
         <td>
           Cantidad Presupuestada
         </td>
         <td>
           Acumulado Anterior
         </td>
         <td>
           Esta Estimación
         </td>
         <td>
           Acumulado Actual
         </td>
         <td>
           Por Ejercer
         </td>
         <td>
         Precio Unitario
         </td>
        <td>
         Importe
         </td>
       </tr>
       <% for (var i = 0; i < articulos.length ; i++ ) { %>
        <tr>
         <td>
           <p><%=articulos[i].nombre_concepto %></p>
         </td>
        <td>
        <p><%=articulos[i].nombre_zona %></p>
         </td>
        <td>
        <p><%=articulos[i].unidad %></p>
         </td>
         <td>
           <p><%=articulos[i].cantidad_presupuestada %></p>
         </td>
         <td>
           <p><%=articulos[i].acumulado_anterior %></p>
         </td>
         <td>
         <p><%=articulos[i].esta_estimacion %></p>
         </td>
         <td>
            <p><%=articulos[i].acumulado_actual %></p>
         </td>
         <td>
           <p><%=articulos[i].por_ejercer %></p>
         </td>
          <td>
           <p>$<%=articulos[i].precio_unitario %></p>
         </td>
         <td>
          <p>$<%=articulos[i].importe %></p>
         </td>
       </tr>
       <% } %>
      </table>
     </div>
     </div>
<div class="row">
  <div class="col-sm-3">
        <div style="width:200px; height:100px; background-color: lightgrey;"></div>
      <p><%= estimacion[0].razon_social %></p>
    </div>
    <div class="col-sm-3">
      <div style="width:200px; height:100px; background-color: lightgrey;"></div>
      <p><%= estimacion[0].residente %></p>
    </div>
    <div class="col-sm-3">
          <div style="width:200px; height:100px; background-color: lightgrey;"></div>
      <p>Ing. Carlos Reyes</p>
    </div>
  <div class="col-sm-3" style="text-align: right;">
     <p>Subtotal: $<%= estimacion[0].subtotal %></p>
     <br>
     <p>Retencion: $<%= estimacion[0].retencion %></p>
     <br>
     <p>IVA: $<%= estimacion[0].iva %></p>
     <br>
     <p>Total: $<%= estimacion[0].total %></p>
     </div>
</div>

</div>
<script src="/javascripts/script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
