<html>
<head>
    <meta charset="UTF-8">
    <title>DYM Ingenieros Constructores | Estimaciones</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if (usuario.categoria === "residente"){ %>
  <% include ./partials/residentesheader.ejs %>
<% } %>
  <div id="content-container">
    <p><h2>Estimaciones</h2></p>
 <p><a href="/buscar"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a></p>
  <div id="table">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Estimaciones</div>

  <!-- Table -->
    <table class="table">
    <tr>
      <td>ID</td>
      <td>Obra</td>
      <td>Proveedor</td>
      <td>Fecha</td>
      <td>Total</td>
      <td></td>
      <td></td>
     </tr>
    <% for(var i=0; i<estimaciones.length; i++) {%>
    <tr>
      <td><%= estimaciones[i].estimaciones_id %></td>
     <td><%= estimaciones[i].nombre_obra %></td>
      <td><%= estimaciones[i].razon_social %></td>
      <td><%= estimaciones[i].fecha %></td>
      <td>$<%= estimaciones[i].total %></td>
      <td><a href="/estimaciones/editar/<%= estimaciones[i].estimaciones_id %>"><span class="glyphicon glyphicon-edit"></span></a></td>
      <td><a href="/api/estimaciones/borrar/<%= estimaciones[i].estimaciones_id%>?_method=DELETE"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
     </tr>
    <% } %>
    </table>
  </div>
</div>
</body>
</html>
