<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | Estimación Nueva</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<% include ./partials/residentesheader.ejs %>
<div id="content-container">
<div class="input-group">
  <label>Proveedor:</label>
  <input type="text" class="form-control" name="proveedor" id="proveedor" value="<%= proveedor %>" disabled>
</div>
<div class="input-group">
  <label>Obra:</label>
  <input type="text" class="form-control" name="obra" id="obra" value="<%=obra %>" disabled>
</div>
<div class="input-group">
  <label>Periódo:</label>
<input type="text" class="form-control" name="date1" id="date1" value="<%=date1 %>" disabled>
<br>
<input type="text" class="form-control" name="date2" id="date2" value="<%=date2 %>" disabled>
</div>
<br>
  <% if (categoria === "material") { %>
<div class="form-group">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Acarreos</div>
     <table class="table" id="tabla-acarreos-material">
       <tr>
        <td>
           ID
         </td>
         <td>
           Fecha
         </td>
        <td>
           Concepto
         </td>
         <td>
           Proveedor
         </td>
         <td>
           Cantidad
         </td>
         <td>
           Unidad
         </td>
         <td>
           Precio Unitario
         </td>
         <td>
           Total
         </td>
         <td>
         Agregar
         </td>
       </tr>
       <% for (var i = 0; i < acarreos.length ; i++ ) { %>
        <tr>
         <td>
           <p><%=acarreos[i].acarreo_id %></p>
         </td>
         <td>
           <p><%=acarreos[i].hora %></p>
         </td>
        <td>
        <p><%=acarreos[i].nombre_concepto %></p>
         </td>
         <td>
           <p><%=acarreos[i].razon_social %></p>
         </td>
         <td>
           <p><%=acarreos[i].cantidad %></p>
         </td>
         <td>
         <p><%=acarreos[i].unidad %></p>
         </td>
         <td>
            <p><%=acarreos[i].precio %></p>
         </td>
         <td>
           <p><%=acarreos[i].total %></p>
         </td>
         <td>
        <input type="checkbox" id="<%=acarreos[i].acarreo_id%>" onclick="agregarId(<%=acarreos[i].acarreo_id%>)"/>
         </td>
       </tr>
       <% } %>
     </table>
     </div>
     </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
<% } else if (categoria === "flete") { %>
<div class="form-group">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Acarreos</div>
     <table class="table" id="tabla-acarreos-fletes">
       <tr>
        <td>
           ID
         </td>
         <td>
           Fecha
         </td>
        <td>
           No. Camión
         </td>
         <td>
           Proveedor
         </td>
         <td>
           Cantidad
         </td>
         <td>
           Unidad
         </td>
         <td>
           Precio Unitario
         </td>
         <td>
           Total
         </td>
       </tr>
       <% for (var i = 0; i < acarreos.length ; i++ ) { %>
        <tr>
         <td>
           <p name="id"><%=acarreos[i].acarreo_id %></p>
         </td>
         <td>
           <p><%=acarreos[i].hora %></p>
         </td>
        <td>
        <p><%=acarreos[i].numero %></p>
         </td>
         <td>
           <p><%=acarreos[i].razon_social %></p>
         </td>
         <td>
           <p><%=acarreos[i].cantidad %></p>
         </td>
         <td>
         <p><%=acarreos[i].unidad_camion %></p>
         </td>
         <td>
            <p><%=acarreos[i].precio_flete %></p>
         </td>
         <td>
           <p><%=acarreos[i].total %></p>
         </td>
       </tr>
       <% } %>
     </table>
     </div>
     </div>
  <button type="submit" class="btn btn-primary" onclick="createEstimacion('(<%= ids %>)', '<%= categoria %>', '<%=obra%>','<%=proveedor%>','<%=date1 %>','<%=date2 %>')" >Guardar</button>
</div>
<% } %>
<script src="/javascripts/script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
