<html>
<head>
  <meta charset="UTF-8">
  <title>Estimación Nueva</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<% include ./partials/header.ejs %>
<div id="content-container">
<form action="/estimaciones/nueva" method="POST" enctype="application/x-www-form-urlencoded">
 <input type="hidden" name="_method" value="put">
<div class="input-group">
  <label>Proveedor:</label>
  <input type="text" class="form-control" name="proveedor" id="proveedor" value="<%= proveedor %>" disabled>
</div>
<div class="input-group">
  <label>Obra:</label>
  <input type="text" class="form-control" name="obra" id="obra" disabled>
</div>
<div class="input-group">
  <label>Periódo:</label>
  Del <input type="text" class="form-control" name="date1" id="date1" value="<%=date1 %>" disabled> al <input type="text" class="form-control" name="date2" id="date2" value="<%=date2 %>" disabled>
</div>
    <div class="form-group">
    <label for="categoria">Categoría</label>
    <select class="form-control" id="categoriaselect" onchange="getAcarreos()">
      <option value="">Categoria</option>
      <option value="flete">Fletes</option>
      <option value="material">Materiales</option>
    </select>
  </div>
<div class="form-group">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Acarreos</div>
     <table class="table" id="tabla-acarreos">
       <tr>
        <td>
           ID
         </td>
         <td>
           Fecha
         </td>
        <td>
           No. Camión
         </td>
         <td>
           Proveedor
         </td>
         <td>
           Cantidad
         </td>
         <td>
           Unidad
         </td>
         <td>
           Precio Unitario
         </td>
         <td>
           Total
         </td>
       </tr>
       <% for (var i = 0; i < acarreos.length ; i++ ) { %>
        <tr>
         <td>
           <p><%=acarreos[i].acarreo_id %></p>
         </td>
         <td>
           <p><%=acarreos[i].hora %></p>
         </td>
        <td>
        <p><%=acarreos[i].numero %></p>
         </td>
         <td>
           <p><%=acarreos[i].fletero %></p>
         </td>
         <td>
           <p><%=acarreos[i].cantidad %></p>
         </td>
         <td>
         <p><%=acarreos[i].unidad %></p>
         </td>
         <td>
            <p><%=acarreos[i].precio_flete %></p>
         </td>
         <td>
           <p><%=acarreos[i].total_flete %></p>
         </td>
       </tr>
       <% } %>
     </table>
     </div>
     </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
<script src="/javascripts/script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
