<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | <%= obra.nombre_obra %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if (usuario.categoria === "residente"){ %>
  <% include ./partials/residentesheader.ejs %>
<% }  else if (usuario.categoria === "administrador"){%>
   <% include ./partials/costosheader.ejs %>
<% } %>
  <div id="content-container">
  <div class="content-header"><p><h2 ><%= obra.nombre_obra %></h2></p></div>
<div class="row">
  <div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Presupuesto Total</div>
        <canvas id="totalesChart"></canvas>
        <div id="totales" style="padding:0px 10px;text-align: right;"></div>
    </div>
     <div class="panel panel-default">
    <div class="panel-heading">Acumulado de Hoy</div>
      <div>
        <select name="concepto-acumulado" id="concepto-acumulado" onchange="getAcumuladoDia()">
        <option value="">Concepto</option>
        <% for(var i=0; i<conceptos.length; i++) {%>
        <option value="<%=conceptos[i].conceptos_id %>"><%=conceptos[i].nombre_concepto %></option>
        <% } %>
        </select>
      </div>
        <canvas id="acumuladodiaChart"></canvas>
        <div id="acumuladodia" style="padding:0px 10px;text-align: right;">

        </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">Estimaciones (Por autorizar)</div>
  <div class="panel-body">
 <table class="table table-striped" style="font-size: 14px">
    <tr>
      <td>Número</td>
      <td>Obra</td>
      <td>Total</td>
     </tr>
     <% if (estimaciones.length < 1) { %>
     <td>No hay estimaciones por autorizar.</td>
     <td></td>
     <td></td>
     <% } %>
    <% for(var i=0; i<estimaciones.length; i++) {%>
    <tr>
      <td><a href="/estimaciones/<%= estimaciones[i].estimaciones_id %>"><%= estimaciones[i].numero %></a></td>
      <td><%= estimaciones[i].nombre_obra %></td>
      <td><%= estimaciones[i].total.toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
      <td><a href="/estimaciones/<%= estimaciones[i].estimaciones_id %>"><span class="glyphicon glyphicon-edit"></span></a></td>
     </tr>
    <% } %>
    </table>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">Información</div>
  <div class="panel-body">
  <p>Nombre: <%= obra.nombre_obra %></p>
  <p>Residente: <%= obra.residente_id %></p>
  <p>Código: <%= obra.codigo %></p>
  <p>Ciudad: <%= obra.ciudad %></p>
  <p>Estado: <%= obra.estado %></p>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">Empleados</div>
  <div class="panel-body">
 <table class="table table-striped" style="font-size: 14px">
    <tr>
      <td></td>
      <td>Nombre</td>
      <td>Puesto</td>
     </tr>
    <% for(var i=0; i<empleados.length; i++) {%>
    <tr>
    <% if(empleados[i].activo === 'Y'){ %>
      <td><span class="glyphicon glyphicon-user" style="color:rgba(10, 83, 201,1)"></span></td>
    <% } else { %>
      <td><span class="glyphicon glyphicon-user" style="color:lightgray"></span></td>
    <% } %>
      <td><%= empleados[i].nombre %></td>
     <td><%= empleados[i].puesto %></td>
     </tr>
    <% } %>
    </table>
  </div>
</div>
</div>
  <div class="col-sm-8">

  <div class="panel panel-default">
      <div class="panel-heading">Resumen Acarreos (Por Zona)</div>
      <div class="panel-body">
      <table class="table table-striped" style="font-size: 12px">
    <tr>
      <td>Concepto</td>
      <td>Zona</td>
      <td>Cantidad Pres.</td>
      <td>Cant Acum.</td>
      <td>Total Pres.</td>
      <td>Total Acum.</td>
      <td>Diferencia</td>
     </tr>
    <% for(var i=0; i<acarreos.length; i++) {%>
    <tr>
      <td><%= acarreos[i].nombre_concepto %></td>
     <td><%= acarreos[i].nombre_zona %></td>
     <%if (acarreos[i].acumulado > acarreos[i].cantidad_presupuestada){ %>
      <td style="color: red;text-align: right;"><%= acarreos[i].cantidad_presupuestada.toLocaleString(); %> <%= acarreos[i].unidad %></td>
      <td style="color: red;text-align: right;"><%= acarreos[i].acumulado.toLocaleString(undefined, {minimumFractionDigits: 2}) %> <%= acarreos[i].unidad %></td>
      <td style="color: red; text-align: right;">$<%= acarreos[i].total_presupuestado.toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
      <td style="color: red; text-align: right;">$<%= acarreos[i].total.toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
      <td style="color: red; text-align: right;">$<%= (acarreos[i].total_presupuestado - acarreos[i].total).toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
     <% } else { %>
      <td style="text-align: right;"><%= acarreos[i].cantidad_presupuestada.toLocaleString(); %> <%= acarreos[i].unidad %></td>
      <td style="text-align: right;"><%= acarreos[i].acumulado.toLocaleString(); %> <%= acarreos[i].unidad %></td>
      <td style="text-align: right;">$<%= acarreos[i].total_presupuestado.toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
      <td style="text-align: right;">$<%= acarreos[i].total.toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
      <td style="text-align: right;">$<%= (acarreos[i].total_presupuestado - acarreos[i].total).toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>

     </tr>
     <% } %>
    <% } %>
    </table></div>
</div>

    <div class="panel panel-default">
      <div class="panel-heading">Presupuestado vs Actual (Por Concepto)</div>
      <div class="panel-body">
      <canvas id="myChart"></canvas>
</div>
</div>
 <% if (usuario.categoria === "administrador"){%>
  <a href="/presupuestos/editar/<%= obra.obra_id %>" style="display:block;padding-bottom: 10px;"><span class="glyphicon glyphicon-edit"></span> Editar Presupuesto</a>
  <br>
  <% } %>
    <div class="panel panel-default">
      <div class="panel-heading">Presupuesto (Por Zona)</div>
      <div class="panel-body">
      <table class="table table-striped" style="font-size: 12px">
    <tr>
      <td>Concepto</td>
      <td>Zona</td>
      <td>Cantidad Pres.</td>
      <td>Cant Acum.</td>
      <td>Total Pres.</td>
      <td>Diferencia</td>
     </tr>
    <% for(var i=0; i<presupuestos.length; i++) {%>
    <tr>
      <td><%= presupuestos[i].nombre_concepto %></td>
     <td><%= presupuestos[i].nombre_zona %></td>
     <%if (presupuestos[i].acumulado > presupuestos[i].cantidad){ %>
      <td style="color: red;text-align: right;"><%= presupuestos[i].cantidad.toLocaleString(); %> <%= presupuestos[i].unidad %></td>
      <td style="color: red;text-align: right;"><%= presupuestos[i].acumulado %> <%= presupuestos[i].unidad %></td>
      <td style="color: red; text-align: right;">$<%= presupuestos[i].total %></td>
      <td style="color: red;text-align: right;"><%= (presupuestos[i].total - (presupuestos[i].acumulado * presupuestos[i].precio_unitario)) %></td>
     <% } else { %>
      <td style="text-align: right;"><%= presupuestos[i].cantidad.toLocaleString(); %> <%= presupuestos[i].unidad %></td>
      <td style="text-align: right;"><%= presupuestos[i].acumulado.toLocaleString(); %> <%= presupuestos[i].unidad %></td>
      <td style="text-align: right;">$<%= presupuestos[i].total.toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
      <td style="text-align: right;">$<%= (presupuestos[i].total - (presupuestos[i].acumulado * presupuestos[i].precio_unitario)).toLocaleString(undefined, {minimumFractionDigits: 2}) %></td>
     </tr>
     <% } %>
    <% } %>
    </table></div>
</div>

</div>
</div>
<script type="text/javascript">
getPresupuestos();
getAcumulado();
var x = [];
var presupuestado = [];
var actual = []

function getPresupuestos() {
var presupuestos = $.ajax({
    url: '/api/presupuestos/totales/'+<%=obra.obra_id%>,
    type: 'GET',
    dataType: 'json'
  });

  presupuestos.done(function(data){
    for(var i = 0; i < data.length ; i ++){
      x.push(data[i].nombre_concepto);
      presupuestado.push(data[i].total_cantidad)
      actual.push(data[i].total_acumulado);
    }
    var ctx = document.getElementById('myChart').getContext('2d');

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: x,
        datasets: [{
          label: 'Presupuestado',
          data: presupuestado,
          backgroundColor: "rgba(10, 83, 201,0.7)"
        }, {
          label: 'Actual',
          data: actual,
          backgroundColor: "rgba(10, 83, 201,0.4)"
        }]
      }
    });
  });

  presupuestos.fail(function(jqXHR, textStatus, errorThrown){
    console.log(errorThrown);
          console.log('error');
  });

}

function getAcumulado() {
  var x = [];
var presupuestado = [];
var actual = []
var acumulado = $.ajax({
    url: '/api/acarreos/acumulado/',
    type: 'GET',
    dataType: 'json'
  });

  acumulado.done(function(data){
    console.log(data)
    for(var i = 0; i < data.length ; i ++){
      x.push(data[i].nombre_concepto);
      presupuestado.push(data[i].total)
      actual.push(data[i].total_acumulado);
    }
    var ctx = document.getElementById('acarreosChart').getContext('2d');

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: x,
        datasets: [{
          label: 'Presupuestado',
          data: presupuestado,
          backgroundColor: "rgba(10, 83, 201,0.7)"
        }, {
          label: 'Actual',
          data: actual,
          backgroundColor: "rgba(10, 83, 201,0.4)"
        }]
      }
    });
  });

  acumulado.fail(function(jqXHR, textStatus, errorThrown){
    console.log(errorThrown);
          console.log('error');
  });

}

getAcumuladoDia();
function getAcumuladoDia() {
var x = [];
var presupuestado = [];
var actual = [];
var concepto= $('#concepto-acumulado').val() || 92;
console.log(concepto)
var acumulado = $.ajax({
    url: '/api/acarreos/acumulado/dia',
    type: 'POST',
    dataType: 'json',
    data:{
      concepto: concepto
    }
  });

  acumulado.done(function(data){
    console.log(data)
    for(var i = 0; i < data.length ; i ++){
      x.push(data[i].nombre_concepto);
      presupuestado.push(data[i].total)
      actual.push(data[i].total_acumulado);
    }
    var ctx = document.getElementById('acumuladodiaChart').getContext('2d');

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: x,
        datasets: [{
          label: 'Presupuestado',
          data: presupuestado,
          backgroundColor: "rgba(10, 83, 201,0.7)"
        }, {
          label: 'Actual',
          data: actual,
          backgroundColor: "rgba(10, 83, 201,0.4)"
        }]
      }
    });
  });

  acumulado.fail(function(jqXHR, textStatus, errorThrown){
    console.log(errorThrown);
          console.log('error');
  });

}
getTotales();

function getTotales() {
  var x = [];
var info = [];

var totales = $.ajax({
    url: '/api/presupuestos/totales/general/'+<%=obra.obra_id%>,
    type: 'GET',
    dataType: 'json'
  });

  totales.done(function(data){
      x = [];
      info.push(100)
      info.push((data[0].total_acumulado*100)/data[0].total_presupuesto);
      var total_presupuestado = data[0].total_presupuesto.toLocaleString(undefined, {minimumFractionDigits: 2});
      var total_acumulado = data[0].total_acumulado.toLocaleString(undefined, {minimumFractionDigits: 2});
      var diferencia = (data[0].total_presupuesto - data[0].total_acumulado).toLocaleString(undefined, {minimumFractionDigits: 2})

      $('#totales').append('<br><p><strong>Total Presupuestado:</strong> $'+total_presupuestado);
      $('#totales').append('<p><strong>Total Actual:</strong> $'+total_acumulado);
      if(diferencia < 0){
        $('#totales').append('<p style="color:red;"><strong>Diferencia:</strong> $'+diferencia);
      } else {
        $('#totales').append('<p><strong>Diferencia:</strong> $'+diferencia);
      }
    var ctx = document.getElementById('totalesChart').getContext('2d');
    var data = {
    labels: [
        "Presupuestado",
        "Actual"
    ],
    datasets: [
        {
            data: info,
            backgroundColor: [
                "rgba(10, 83, 201,0.7)",
                "rgba(10, 83, 201,0.4)"
            ],
            hoverBackgroundColor: [
                "rgba(10, 83, 201,0.4)",
                "rgba(10, 83, 201,0.7)"
            ]
        }]
      };
        var myChart = new Chart(ctx,{
        type: 'pie',
        data: data
        });
    });


  totales.fail(function(jqXHR, textStatus, errorThrown){
    console.log(errorThrown);
          console.log('error');
  });

}
</script>
</body>
</html>
