<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | Presupuesto</title>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="content-container">
<form action="/api/presupuestos/<%= obra_id %>" method="POST" enctype="application/x-www-form-urlencoded">
<% if (usuario.categoria === "residente"){ %>
  <% include ./partials/residentesheader.ejs %>
<% }  else if (usuario.categoria === "administrador"){%>
   <% include ./partials/costosheader.ejs %>
<% } else if (usuario.categoria === "master") {%>
  <% include ./partials/adminheader.ejs %>
<% } %>
  <br>
<% for(var i = 0; i<zonas.length ; i++) { %>
<div class="presupuestos-container">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= zonas[i].nombre_zona %></div>
  <table class="table" id="<%= zonas[i].nombre_zona %>">
    <tr>
      <td>Material</td>
      <td>Cantidad</td>
      <td>Unidad</td>
      <td>Precio</td>
      <td>Total</td>
      <td></td>
      <td></td>
    </tr>
    </table>
    </div>
    </div>
    <a onclick="agregarConcepto('<%= zonas[i].nombre_zona %>','<%= zonas[i].zonas_id %>')" class="btn btn-primary" style="margin-bottom: 20px;"><span class="glyphicon glyphicon-plus-sign add-concepto"></span> Agregar</a>
    <% } %>

    <div id="submit"><button type="submit" class="btn btn-primary">Guardar</button></div>
</form>
<br>
</div>
<script src="/javascripts/script.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
var rows=0;
console.log(rows)
  function agregarConcepto(zona,zona_id){
    console.log('agregando')
  rows++;
  var tabla = document.getElementById(zona);
  var index = document.getElementById(zona).rows.length;
  var row1 = tabla.insertRow(index);
  row1.setAttribute("id", "row"+rows);
  var cella1 = row1.insertCell(0);
  var cella2 = row1.insertCell(1);
  var cella3 = row1.insertCell(2);
  var cella4 = row1.insertCell(3);
  var cella5 = row1.insertCell(4);
  var cella6 = row1.insertCell(5);
  var cella7 = row1.insertCell(6);
  var cantidad = 'cantidad'+rows;
  var precio = 'precio'+rows;
  var total = 'total'+rows;
  cella1.innerHTML = '<td><select name="row'+rows+'" onchange="checarOtro('+rows+')" id="concepto'+rows+'" class="form-control"><option value="">Material</option><% for(var j = 0; j<conceptos.length;j++) { %><option value="<%= conceptos[j].conceptos_id %>"><%= conceptos[j].nombre_concepto %></option><% } %><option value="otro">Otro</option></select></td>';
  cella2.innerHTML = '<td><input id="cantidad'+rows+'" name="row'+rows+'" type="number" step="any" min="0" class="form-control" placeholder="0"></td>';
  cella3.innerHTML = '<td><select name="row'+rows+'" id="unidad'+rows+'" class="form-control"><option value="">Unidad</option><option value="m">m</option><option value="m2">m2</option><option value="m3" selected>m3</option><option value="ton">ton</option></select></td>';
  cella4.innerHTML = "<td><input id='precio"+rows+"' name='row"+rows+"' type='text' class='form-control' placeholder='$0.00' oninput='totalesPresupuesto("+rows+")'></td>";
  cella5.innerHTML = '<td><input id="total'+rows+'" name="row'+rows+'" type="text" class="form-control" placeholder="$0.00" readonly></td>';
  cella6.innerHTML = '<td><input type="hidden" id="zona'+rows+'" name="row'+rows+'" value="'+zona_id+'"></td>';
  cella7.innerHTML = '<td><a onclick="removeRow('+rows+')"><span class="glyphicon glyphicon-remove-circle"></span></a></td>';

}

function checarOtro(row){
  if($('#concepto'+row).val() === "otro"){
    window.open('http://localhost:3000/concepto/nuevo?row='+row, 'mywin','left=20,top=20,width=600,height=340,toolbar=1,resizable=0;');
  }
}
function removeRow(row){
var deletedRow = document.getElementById("row"+row);
deletedRow.parentNode.removeChild(deletedRow);
}

</script>
</body>
</html>
