<html>
<head>
    <meta charset="UTF-8">
    <title>DYM Ingenieros Constructores | Proveedores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <% include ./partials/residentesheader.ejs %>
  <div id="content-container">

 <p><a href="/proveedores/nuevo"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a></p>

  <div id="table">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Proveedores</div>

  <!-- Table -->
    <table class="table">
    <% for(var i=0; i<proveedores.length; i++) {%>
    <tr>
      <td><%= proveedores[i].id %></td>
     <td><%= proveedores[i].razon_social %></td>
      <td><%= proveedores[i].direccion %></td>
      <td><%= proveedores[i].telefono %></td>
      <td><%= proveedores[i].ciudad %></td>
      <td><%= proveedores[i].estado %></td>
      <td><%= proveedores[i].rfc %></td>
      <td><a href="/proveedores/editar/<%= proveedores[i].id %>"><span class="glyphicon glyphicon-edit"></span></a></td>
      <td><a href="/api/proveedores/borrar/<%= proveedores[i].id %>?_method=DELETE"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
     </tr>
    <% } %>
    </table>
  </div>
</div>
</body>
</html>
