<html>
<head>
    <meta charset="UTF-8">
    <title>DYM Ingenieros Constructores | Ticket</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div id="content-container">
<div id="recibo" style="margin-left:10px; padding-top:20px; padding-bottom:20px; font-size:16px;">
<div id="printData">
<h2>DYM INGENIEROS CONSTRUCTORES SA DE CV</h2>
<h2>RECIBO ACARREOS</h2>
<div id="recibo-style" style="font-size: 30px; padding-bottom: 20px;"">
<h3><strong>Fecha: </strong><%= acarreo[0].hora%></h3>

<h3><strong>Recibo No.:</strong> <%= acarreo[0].recibo_id%></h3>
<h3><strong>No. Camión:</strong> <%= camion[0].camion_id %></h3>
<h3><strong>Placas:</strong> <%= camion[0].placas %></h3>
<h3><strong>Modelo:</strong> <%= camion[0].modelo %></h3>
<h3><strong>Fletero:</strong> <%= camion[0].razon_social %></h3>
<br>
<h3><strong>Material:</strong> <%= material[0].nombre_concepto %></h3>
<h3><strong>Proveedor:</strong> <%= material[0].razon_social %></h3>
<h3><strong>Cantidad:</strong> <%= acarreo[0].cantidad %> <%= material[0].unidad %></h3>
<h3><strong>Precio Unitario: </strong>$<%= material[0].precio %></h3>
</div>
</div>
</div>
<button onclick="passPRNT()" class="btn btn-primary">Imprimir</button>
</div>
<script src="/javascripts/script2.js" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>
