<html>
<head>
    <meta charset="UTF-8">
    <title>DYM Ingenieros Constructores | Ticket</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div id="content-container">
<div id="recibo" style="margin-left:10px; padding-top:20px; padding-bottom:20px; font-size:16px;">
<button onclick="passPRNT()" class="btn btn-primary" style="margin-bottom: 20px">Imprimir</button>
<br>
<img src="/images/dym-logo.png" alt="" align="center">

<div id="printData">
<h2>DYM INGENIEROS CONSTRUCTORES SA DE CV</h2>
<h2>RECIBO ACARREOS</h2>

<div id="recibo-style" style="font-size: 20px;">
<% if(camion.length > 0) {%>
  <h3><strong>Fecha Recibo: </strong><%= fecha %></h3>
  <h3><strong>No. Sticker:</strong> <%= camion[0].sticker_id %></h3>
  <h3><strong>Placas:</strong> <%= camion[0].placas %></h3>
  <h3><strong>Fletero:</strong> <%= camion[0].prov_flete %></h3>
  <h3><strong>Capacidad:</strong><%=camion[0].cantidad%> <%=camion[0].unidad_camion %></h3>
  <br>

  <table align="left" style="font-size: 20px;margin-bottom: 30px">
    <tr style="height:30px; padding-bottom: 20px; border-bottom: solid 1px black">
    <td width="60"><strong>No.</strong></td>
    <td width="150"><strong>Concepto</strong></td>
    <td width="150"><strong>Zona</strong></td>
    <td width="150"><strong>Banco</strong></td>
    <td width="150"><strong>Hora</strong></td>

   </tr>
   <% } %>
   <% if(acarreos.length > 0) {%>
  <% for(var i = 0; i < acarreos.length; i++) { %>
  <tr>
    <td width="60"><strong><%= i+1 %></strong></td>
    <td width="150"><strong><%=acarreos[i].concepto%></strong></td>
    <td width="150"><strong><%=acarreos[i].nombre_zona%></strong></td>
    <% if(!acarreos[i].razon_social) { %>
    <td width="50"><strong>--</strong></td>
    <% } else { %>
    <td width="150"><strong><%=acarreos[i].razon_social %></strong></td>
    <% } %>
    <td width="150"><strong><%=acarreos[i].hora%></strong></td>

   </tr>
  <% } %>
    <% } %>
  </table>
  <br>
  <br>
  <h3><strong>Resumen:</strong></h3>

  <table align="left" style="font-size: 20px; margin-bottom: 20px">
    <tr style="height:30px; padding-bottom: 20px; border-bottom: solid 1px black">
    <td width="60"><strong>No. Viajes</strong></td>
    <td width="150"><strong>Concepto</strong></td>
    <td width="150"><strong>Zona</strong></td>
    <td width="70"><strong>Cantidad</strong></td>
    <td width="150"><strong>Banco</strong></td>
   </tr>
   <% if(resumen.length > 0) {%>
  <% for(var i = 0; i < resumen.length; i++) { %>
  <%if (resumen[i].viajes == 0 ) { %>
  <% } else {%>
  <tr>
    <td width="60"><strong><%= resumen[i].viajes %></strong></td>
    <td width="150"><strong><%=resumen[i].nombre_concepto%></strong></td>
    <td width="150"><strong><%=resumen[i].nombre_zona%></strong></td>
    <td width="70"><strong><%=resumen[i].total_cantidad%> <%=resumen[i].unidad %></strong></td>
    <% if(!resumen[i].razon_social) { %>
    <td width="50"><strong>--</strong></td>
    <% } else { %>
    <td width="150"><strong><%=resumen[i].razon_social %></strong></td>
    <% } %>
   </tr>
   <% } %>
  <% } %>
    <% } %>
  </table>
  <br>
  <% if(total[0].total_viajes) {%>
  <h3><strong>No. Total Viajes:</strong> <%=total[0].total_viajes %></h3>

    <% } %>
  <p><strong>Impreso: </strong><%= fecha_impresion %></p>
</div>
<div height="200px" width="100px"></div>
<br>
</div>
</div>
<script src="/javascripts/script2.js" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>
