<html>
<head>
    <meta charset="UTF-8">
    <title>DYM Ingenieros Constructores | Ticket</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div id="content-container">
<div id="recibo" style="margin-left:10px; padding-top:20px; padding-bottom:20px; font-size:16px;">
<img src="/images/dym-logo.png" alt="" align="center">
<div id="printData">
<h2>DYM INGENIEROS CONSTRUCTORES SA DE CV</h2>
<h2>RECIBO ACARREOS</h2>
<div id="recibo-style" style="font-size: 20px;">

  <h3><strong>Fecha: </strong><%= fecha %></h3>
  <h3><strong>Camión ID:</strong> <%= recibos[0].camion_id %></h3>
  <h3><strong>Placas:</strong> <%= recibos[0].placas %></h3>
  <h3><strong>Fletero:</strong> <%= recibos[0].prov_flete %></h3>
  <br>
  <% for(var i = 0; i < recibos.length; i++) { %>
    <h3><%= recibos[i].viajes %> viajes</h3>
    <h3><%=recibos[i].nombre_concepto%></h3>
    <h3><%=recibos[i].nombre_zona%></h3>
    <h3><%=recibos[i].cantidad%> <%=recibos[i].unidad %></h3>
    <h3><%=recibos[i].prov_banco %></h3>
    <br>
  <% } %>

</div>
<br>
</div>
<button onclick="passPRNT()" class="btn btn-primary">Imprimir</button>
</div>
<script src="/javascripts/script2.js" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>
