<html>
<head>
    <meta charset="UTF-8">
    <title>DYM Ingenieros Constructores | Residentes</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% include ./partials/tesoreriaheader.ejs %>
  <div id="content-container">
  <ul class="nav">
  <li><a href="/residentes/nuevo">Agregar</a></li>
</ul>
  <div id="table">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Residentes</div>

  <!-- Table -->
    <table class="table">
    <% for(var i=0; i<residentes.length; i++) {%>
    <tr>
      <td><%= residentes[i].id %></td>
     <td><%= residentes[i].nombre %></td>
      <td><%= residentes[i].codigo %></td>
      <td><a href="/edit/<%= residentes[i].id %>"><span class="glyphicon glyphicon-edit"></span></a></td>
      <td><a href="/<%= residentes[i].id %>"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
     </tr>
    <% } %>
    </table>
  </div>
</div>
</body>
</html>
