<html>
<head>
    <meta charset="UTF-8">
    <title>DYM Ingenieros Constructores | Ticket</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<input type="hidden" id="camion_id" value="<%=camion[0].camion_id %>">
<input type="hidden" id="categoria" value="<%=categoria %>">
<input type="hidden" id="unidad" value="<%=camion[0].unidad_camion %>">
<input type="hidden" id="capacidad" value="<%=camion[0].capacidad %>">

<input type="hidden" id="proveedor_id" value="<%=camion[0].proveedor_id %>">
<div id="revisar-container">
<div class="recibo-popup" id="popup-loading">
</div>
<div class="recibo-popup" id="popup-firma">
<div class="recibo-popup-header">
  <h1 style="text-align: right;" class="popup-close" onclick="closePopup()">X</h1>
</div>
    <h3>Autorizar</h3>
    <div id="pin-container">
    <p>Ingrese un código de 4 caracteres:</p>
    <input class="form-control" type="password" maxlength="4" name="pin1" id="pin1" required><br>
    <p>Ingresélo de nuevo:</p>
    <input class="form-control" type="password" maxlength="4" name="pin2" id="pin2" required oninput="checkPin()">
</div>
<div id="signature-pad" class="m-signature-pad">
<p> Por favor ingrese su firma:</p>
    <div class="signature-pad-body" style="background-color: lightgray">
    <canvas width="500px"></canvas></div><div class="signature-pad-footer">
    <div class="signature-pad-left">
    <button type="button" class="button clear btn btn-primary" data-action="clear">Borrar</button>
    </div>
    <div class="signature-pad-right">
    <button type="button" class="button save btn btn-primary" data-action="save-png">Guardar</button>
    </div>
    </div>
    </div>
</div>

<div class="recibo-popup" id="popup-autorizacion">
<div class="recibo-popup-header">
  <h1 style="text-align: right;" class="popup-close" onclick="closePopup()">X</h1>
</div>
    <h3>Autorizar</h3>
    <div id="pin-container">
    <p>Ingrese un código de 4 caracteres:</p>
    <input type="password" id="confirm" hidden>
    <input class="form-control" type="password" maxlength="4" name="pin" id="pin" required><br>
    <button type="button" class="button save btn btn-primary" onClick="autorizar()">Guardar</button>
    </div>
  </div>

  <div class="recibo-popup" id="popup-residente">
    <div class="recibo-popup-header">
      <h1 style="text-align: right;" class="popup-close" onclick="closePopup()">X</h1>
    </div>
    <div id ="confirmacion-residente">
    <p>Residente: Por favor ingrese la información de acceso</p>
    <div class="form-group">
    <input type="hidden" class="form-control" id="tipo">

    <label for="residente-id">ID:</label>
    <input type="text" class="form-control" id="residente_id">
    <br>
    <label for="residente-pin">PIN:</label>
    <input type="password" class="form-control" id="residente_pin" maxlength="4">
    </div>
    <button type="button" class="button save btn btn-primary" onClick="claveResidente('agregar')">Confirmar</button>
    </div>
  </div>

  <div class="recibo-popup" id="popup-editar">
<div class="recibo-popup-header">
  <h1 style="text-align: right;" class="popup-close" onclick="closePopup()">X</h1>
</div>
    <h3 id="titulo"></h3>

    <div id="editar-container" style="visibility: hidden;display:none">
    <input type="text" id="acarreo_id" hidden>
    <div style="visibility: hidden;display:none;" id="hora-container">
    <br>
    <label for="hora">Hora</label>
    <div style="display:flex;">
    <select class="form-control editar-form" name="hora" id="hora">
      <option value="01">1</option>
      <option value="02">2</option>
       <option value="03">3</option>
       <option value="04">4</option>
       <option value="05">5</option>
       <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
       <option value="09">9</option>
       <option value="10">10</option>
       <option value="11">11</option>
       <option value="12">12</option>
    </select>
    <select class="form-control editar-form" name="minutos" id="minutos">
      <% for(var m=0;m<=59;m++) { %>
      <% if(m<=9){ %>
       <option value="0<%=m%>">0<%=m%></option>
      <% } else { %>
       <option value="<%=m%>"><%=m%></option>
      <% } %>
      <% } %>
    </select>
    <select class="form-control editar-form" name="meridiano" id="meridiano">
      <option value="AM">AM</option>
      <option value="PM">PM</option>
    </select>
    </div>
    </div>
    <div class="form-group editar-form">
      <label for="concepto">Concepto</label>
        <select class="form-control" name="concepto" id="concepto" onchange="getMateriales();">
          <option value="">Concepto</option>
          <% for(var i =0; i < conceptos.length;i++){ %>
          <option value="<%=conceptos[i].concepto%>"><%=conceptos[i].nombre_concepto%></option>
          <% } %>
        </select>
    </div>

    <div class="form-group editar-form" id="banco" style="visibility:hidden;display:none;">
      <label for="banco_id">Banco</label>
        <select class="form-control" name="banco_id" id="banco_id" onchange="getMateriales();getFlete();">
          <option value="">Banco</option>
          <% for(var i =0; i < bancos.length;i++){ %>
          <option value="<%=bancos[i].id%>"><%=bancos[i].razon_social%></option>
          <% } %>
        </select>
    </div>
    <input type="hidden" id="flete_id" name="flete_id">
    <div class="form-group editar-form">
        <input type="hidden" name="material_id" id="material_id" onchange="getZonas();">
    </div>

  <div class="form-group editar-form">
      <label for="zona">Zona</label>
        <select class="form-control" name="zona" id="zona">
          <option value="">Zona</option>
        </select>
    </div>
        <button type="button" class="button save btn btn-primary editar-form" onClick="updateAcarreo()">Guardar</button>
    </div>
  </div>


<% if(camion.length > 0) {%>
  <h3><strong>Fecha Recibo: </strong><%= fecha %></h3>
  <input type="hidden" id="fecha" value="<%= fecha %>">
  <h3><strong>No. Sticker:</strong> <%= camion[0].sticker_id %></h3>
  <h3><strong>Placas:</strong> <%= camion[0].placas %></h3>
  <h3><strong>Fletero:</strong> <%= camion[0].prov_flete %></h3>
  <h3><strong>Capacidad:</strong><%=camion[0].capacidad%> <%=camion[0].unidad_camion %></h3>
  <br>
  <br>
  <br>
  <h3><strong>Resumen:</strong></h3>
  <table class="table" style="font-size: 16px; margin-bottom: 20px">
    <tr style="height:30px; padding-bottom: 20px; border-bottom: solid 1px black">
    <td width="150"><strong>Concepto</strong></td>
    <td width="150"><strong>Zona</strong></td>
    <td width="60"><strong>No. Viajes</strong></td>

   </tr>
     <% if(resumen.length > 0) {%>
  <% for(var i = 0; i < resumen.length; i++) { %>
  <%if (resumen[i].viajes == 0 ) { %>
  <% } else {%>
  <tr>
    <td width="150"><strong><%=resumen[i].nombre_concepto%></strong></td>
    <td width="150"><strong><%=resumen[i].nombre_zona%></strong></td>
    <td width="60"><strong><%= resumen[i].viajes %></strong></td>
   </tr>
   <% } %>
  <% } %>
    <% } %>
  </table>
  <% if(total[0].total_viajes) {%>
  <h3><strong>No. Total Viajes:</strong> <%=total[0].total_viajes %></h3>
  <br>
    <% } %>

<h3><strong>Detalle:</strong></h3>
  <table class="table" style="font-size: 16px;margin-bottom: 30px">
    <tr style="height:30px; padding-bottom: 20px; border-bottom: solid 1px black">
    <td width="60"><strong>No.</strong></td>
    <td width="150"><strong>Concepto</strong></td>
    <td width="150"><strong>Zona</strong></td>
    <td width="150"><strong>Hora</strong></td>
    <td class="acarreos" style="visibility:hidden;"></td>
   </tr>
   <% } %>
   <% if(acarreos.length > 0) {%>
  <% for(var i = 0; i < acarreos.length; i++) { %>
  <tr>
    <td width="60"><strong><%= i+1 %></strong></td>
    <td width="150"><strong><%=acarreos[i].concepto%></strong></td>
    <td width="150"><strong><%=acarreos[i].nombre_zona%></strong></td>
    <td width="150"><strong><%=moment(acarreos[i].hora).format("HH:mm A")%></strong></td>
    <% if(acarreos[i].aprobado === "Y"){ %>
    <td><span class="glyphicon glyphicon-ok"></span></td>
    <%} else {%>
    <td><input style="zoom: 2.5;visibility:hidden;display:none" type="checkbox" name="acarreos" class="acarreos" value="<%=acarreos[i].recibo_id%>"></td>
    <%}%>
   </tr>
  <% } %>
    <% } %>
  </table>
<div class="btn btn-primary" id="aprobar-boton" onclick="aprobarPopup(<%= camion[0].camion_id %>)">Aprobar</div>
<div class="btn btn-danger" id="reportar-boton" onclick="checkboxesOn()">Reportar Cambios</div>
<div class="btn btn-primary" id="agregar-boton" style="visibility: hidden;" onclick="popUpResidente()">Agregar</div>

<br>
</div>
<div style="visibility: hidden; display:none">
<div id="printData">
<h2>DYM INGENIEROS CONSTRUCTORES SA DE CV</h2>
<h2>RECIBO ACARREOS</h2>

<div id="recibo-style" style="font-size: 20px;">
<% if(camion.length > 0) {%>
  <h3><strong>Fecha Recibo: </strong><%= fecha %></h3>
  <h3><strong>No. Sticker:</strong> <%= camion[0].sticker_id %></h3>
  <h3><strong>Placas:</strong> <%= camion[0].placas %></h3>
  <h3><strong>Fletero:</strong> <%= camion[0].prov_flete %></h3>
  <h3><strong>Capacidad:</strong><%=camion[0].capacidad%> <%=camion[0].unidad_camion %></h3>
  <br>

  <table align="left" style="font-size: 20px;margin-bottom: 30px">
    <tr style="height:30px; padding-bottom: 20px; border-bottom: solid 1px black">
    <td width="60"><strong>No.</strong></td>
    <td width="150"><strong>Concepto</strong></td>
    <td width="150"><strong>Zona</strong></td>
    <td width="150"><strong>Banco</strong></td>
    <td width="150"><strong>Hora</strong></td>

   </tr>
   <% } %>
   <% if(acarreos.length > 0) {%>
  <% for(var i = 0; i < acarreos.length; i++) { %>
  <tr>
    <td width="60"><strong><%= i+1 %></strong></td>
    <td width="150"><strong><%=acarreos[i].concepto%></strong></td>
    <td width="150"><strong><%=acarreos[i].nombre_zona%></strong></td>
    <% if(!acarreos[i].razon_social) { %>
    <td width="50"><strong>--</strong></td>
    <% } else { %>
    <td width="150"><strong><%=acarreos[i].razon_social %></strong></td>
    <% } %>
    <td width="150"><strong><%=acarreos[i].hora%></strong></td>

   </tr>
  <% } %>
    <% } %>
  </table>
  <br>
  <br>
  <h3><strong>Resumen:</strong></h3>

  <table align="left" style="font-size: 20px; margin-bottom: 20px">
    <tr style="height:30px; padding-bottom: 20px; border-bottom: solid 1px black">
    <td width="60"><strong>No. Viajes</strong></td>
    <td width="150"><strong>Concepto</strong></td>
    <td width="150"><strong>Zona</strong></td>
    <td width="70"><strong>Cantidad</strong></td>
    <td width="150"><strong>Banco</strong></td>
   </tr>
   <% if(resumen.length > 0) {%>
  <% for(var i = 0; i < resumen.length; i++) { %>
  <%if (resumen[i].viajes == 0 ) { %>
  <% } else {%>
  <tr>
    <td width="60"><strong><%= resumen[i].viajes %></strong></td>
    <td width="150"><strong><%=resumen[i].nombre_concepto%></strong></td>
    <td width="150"><strong><%=resumen[i].nombre_zona%></strong></td>
    <td width="70"><strong><%=resumen[i].total_cantidad%> <%=camion[0].unidad_camion %></strong></td>
    <% if(!resumen[i].razon_social) { %>
    <td width="50"><strong>--</strong></td>
    <% } else { %>
    <td width="150"><strong><%=resumen[i].razon_social %></strong></td>
    <% } %>
   </tr>
   <% } %>
  <% } %>
    <% } %>
  </table>
  <br>
  <% if(total[0].total_viajes) {%>
  <h3><strong>No. Total Viajes:</strong> <%=total[0].total_viajes %></h3>

    <% } %>
  <p><strong>Impreso: </strong><%= fecha_impresion %></p>
</div>
<div height="200px" width="100px"></div>
<br>
</div>
</div>
<script src="/javascripts/script2.js" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>
